<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="menu_hospital_root" name="HMS" />

    <menuitem id="menu_front_desk" name="Front Desk" parent="menu_hospital_root" />

    <menuitem id="menu_patients" 
        name="Patients" 
        parent="menu_front_desk" 
        action="action_hospital_patient" />

</odoo>