<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="menu_hospital_root" name="HMS" sequence="1" web_icon="om_hospital,static/description/icon.png"/>

    <menuitem id="menu_front_desk" name="Front Desk" parent="menu_hospital_root" />

    <menuitem id="menu_patients" 
        name="Patients" 
        parent="menu_front_desk" 
        action="action_hospital_patient" />

    <menuitem id="menu_patients_readonly" 
        name="View Patients" 
        parent="menu_front_desk" 
        action="action_hospital_readonly_patient" />

    <menuitem id="menu_appointment" 
        name="Appointments" 
        parent="menu_front_desk" 
        action="action_hospital_appointment" />

    <menuitem id="menu_configuration" 
        name="Configuration" 
        sequence="1000"
        parent="menu_hospital_root" />

    <menuitem id="menu_patient_tags" 
        name="Tags" 
        parent="menu_configuration" 
        action="action_patient_tag" />

    
</odoo>